*{
    font-family: monospace;
   
}

h1{
    text-align: center;
    font-size: 60px;
    color:#455490;
} 
#form{
    font-size: 25px;
    position: absolute;
    float: left;
    left: 42.5%;
}
input{
    width: 200px;
    height: 25px;
    border-radius: 4px;
}
#fp{
    position: absolute;
    float: left;
    left: 44.5%;
}
#welc{
    position: absolute;
    float: left;
    left: 92.5%;
      margin-top: 3px;
     
      font-size: 17px;
  }
  .error{
    font-size: 14px;
    font-weight: bold;
    color: rgb(256, 55,55);
}
#al{
    position: absolute;
    float: left;
    left: 46%;
padding-top: 40px;
  }
