h1{
    text-align: center;
    font-size: 60px;
    color:#216E2B;
}
*{
    font-family: monospace;
   
}
body{
    background-image: url("backg.jpeg");
    background-attachment: fixed;
}
li {
width: 16.6%;
 float: left;
    font-size: 18px;
    font-weight: 900;
   
  }
ul {
    list-style-type: none;
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#216E2B;
    position: sticky;
  
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
}
li a:hover{
   background-color:#2B9B38  ;

}
.active{
 background-color: #2B9B38 ;
}
textarea{
    position: absolute;
    left: 30%;
 }
 h2{
    font-size: 30px;
    text-align: center;
}
button{
    position: absolute;
    left: 48%;
}