*{
    font-family: monospace;
   
}
body{
    background-image: url("backg.jpeg");
    background-attachment: fixed;
}
#adminLoginButton{
    background-color: #216E2B;
    position: absolute;
    float: left;
    left: 52%;
    margin-top: 150px;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 50px;
}
#loginButton {
    background-color: #216E2B;
    position: absolute;
    float: left;
    left: 23%;
    margin-top:150px;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 50px;
}
h1{
    text-align: center;
    font-size: 60px;
    color:#216E2B;
}