*{
    font-family: monospace;
   
}
li {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    
   
     
    }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: auto;
      background-color:#303F7C  ;
      height: 100%;
      width: 17%;
      position: fixed;
      float: left;
      left: 0;
    
  }
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px ;
      padding-left: 0%;
      text-decoration: none;
      
      
  }
  li a:hover{
     background-color:#455490   ;
  
  }
  .active{
   background-color:#455490  ;
     
  }
h2{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

.rose{
    height: 180px;
    width: 270px;
    margin: 28px;
}
.update{
    position: absolute;
    float: left;
    left: 72%;
}
#submit{
    position: absolute;
    float: left;
    left: 55%;
    
}
#welc{
    position:fixed;
    text-align: center;
 
    font-size: 17px;
  }
  .col-md-8{
    padding-top: 2%;
  }
   
#pp{
  height: 100px;
  width: 100px;
}
